{% extends "base.html" %}

{% block title %}ToDo 詳細画面{% endblock  %}

{% block contents %}
<h2>
    引き受けてるタスク
</h2>
<table class="design08">
    <tr>
        <th>タイトル</th>
        <th>親タスク</th>
        <th>カテゴリ</th>
        <th>説明</th>
        <th>納期</th>
        <th>進捗</th>
    </tr>
    <tr>
        <td>{{object.title}}</td>
        <td>{{object.parent_task}}</td>
        <td>{{object.category}}</td>
        <td>{{object.description}}</td>
        <td>{{object.delivery}}</td>
        <td>{{object.status}} % </td>
    </tr>
</table>
<br>
<br>
<h3>紐づいているタスク</h3>

<br />
<a class="btn-primary btn " href="{% url 'todoapp:create_bottom_task' %}">
    新規作成(子タスク)
</a>
<table class="design08">
    <tr>
        <th>タイトル</th>
        <th>親タスク</th>
        <th>カテゴリ</th>
        <th>説明</th>
        <th>完了フラグ</th>
    </tr>
    <tr>
        {% for item in related_task %}
    <tr>
        <td>
            <a style="background: linear-gradient(transparent 50%, yellow 40%)"
                href="{% url 'todoapp:update_bottom_task' item.pk  %}">
                {{ item.title }}
                <a />
        </td>
        <td>{{ item.parent_task.title}}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description}}</td>
        <td>{{ item.completed }} </td>
    </tr>
    {% endfor %}
</table>
{% endblock  %}