{% extends "base.html" %}
{% block title %}ToDo タスク管理{% endblock  %}

{% block contents %}



<h2>
    引き受けてるタスク
</h2>
<table class="design08">
    <tr>
        <th>タイトル</th>
        <th>親タスク</th>
        <th>カテゴリ</th>
        <th>説明</th>
        <th>納期</th>
    </tr>
    <tr>
        {% for item in middle_task_list %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.parent_task.title}}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td style="color:red;">{{ item.delivery }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<br />
<h2>
    詳細タスク
</h2>
<table class="design08">
    <tr>
        <th>タイトル</th>
        <th>親タスク名</th>
        <th>親タスク納期</th>
        <th>カテゴリ</th>
        <th>説明</th>
    </tr>
    <tr>
        {% for item in page_obj %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.parent_task.title}}</td>
        <td>{{ item.parent_task.delivery}}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}



{% endblock  %}